.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  padding: 24px;
  gap: 24px;
  box-sizing: border-box;
}

.specialText {
  color: #8cc8ff;
}

.container > div {
  border: 1px solid #8cc8ff;
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.app {
  transition: transform 0.3s ease;
}

.app:hover {
  box-shadow: 8px 8px 10px 4px #0085ff60;
  transform: translate(8px, -8px);
}
