@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.body {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}
/* background image */
.bg-image {
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);



  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height and full width */
  width: 100vw;
  height: 100vh;

  margin: auto;
}

.home-background {
  position: absolute;
  z-index: 2;
  height: 100vh;
}

/* background text */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.nav :hover {
  background-color: #0096c7;
  border-radius: 10px;
}

Nav.Link {
  color: "#023e8a";
}

.about {
  background-color: #02aab0;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  color: #fff;
  height: 100%;
  border-top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

.contact {
  background-color: #02aab0;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  color: #fff;
  height: 100%;
  border-top: 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 10%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutMePara {
  text-align: left;
  padding-top: 30px;
  font-size: 24px;
}

.resumeButton {
  padding: 15px 30px;
}

.img {
  padding-top: "30px";
  width: 350px;
}

.skills-box {
  height: 150px;
}

/* Css hover effects */
.container .card .face {
  width: 350px;
  height: 170;
  transition: 0.5s;
}

.card-heading {
  position: absolute;
  top: 135px;
  z-index: 20;
  color: white;
}

.card:hover .card-heading {
  z-index: -1;
}

.card {
  width: 350px;
  border: none;
}

.react-reveal {
  margin: 0px;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(70px);
}

.container .card:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .face.face1 .content img {
  max-width: 100%;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.content {
  cursor: pointer;
}

/* icon hover*/