.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-rows: repeat(3, 120px);
  grid-template-columns: repeat(3, 120px);
}

.gridItem {
  border: 1px solid #ffffff30;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gridItem:hover {
  background: #0085ff;
  transform: scale(105%);
  border: 1px solid transparent;
  /* box-shadow: 8px 8px 10px 4px #0085ff60; */
  box-shadow: 0 0 10px 4px #0085ff60,
    /* Top glow */ 0 0 10px 4px #0085ff60 inset,
    /* Bottom glow */ 0 0 10px 4px #0085ff60,
    /* Right glow */ 0 0 10px 4px #0085ff60 inset; /* Left glow */
}

.selected {
  background: #0085ff;
}

.me {
  grid-row: 1;
  grid-column: 1 / span 1;
}

.skills {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.projects {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.laptop {
  grid-row: 2;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
}

.laptop > span {
  font-size: 14px;
  margin-top: 4px;
}

.console {
  grid-row: 3;
  grid-column: 1 / span 1;
}

.contact {
  grid-row: 3;
  grid-column: 2 / span 2;
}
